export CATALINA_OPTS="-XX:MaxPermSize=256m -XX:+HeapDumpOnOutOfMemoryError"
export JAVA_OPTS="$JAVA_OPTS -Dsun.lang.ClassLoader.allowArraySyntax=true -Djavax.net.ssl.trustStore=$TOMCAT_CONFIG_DIR$/certs/cacerts"
